<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/reset.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/layout.css" rel="stylesheet">
<link href="/css/layout-sub.css" rel="stylesheet">
<link rel="icon" href="/img/favicon.png">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="/js/gnb.js"></script>
<title>뛰다</title>
<style type="text/css">
.spaceList a:link {
	color: black;
}

.spaceList a:visited {
	color: black;
}

.spaceList a:hover {
	color: black;
}

.spaceList a:active {
	color: black;
}

.card {
	border-radius: 15px
}

.spaceList .card-img-top {
	border-radius: 16px 16px 0 0
}

.card-img-top {
	width: 281px;
	height: 201.75px;
}

.spaceContent {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
</style>
</head>

<body>
	<!-- Header -->
	<div th:replace="~{component/user/userHeader}"></div>

	<!-- Content -->




	<div class="wrap-content">
		<div class="container">
			<div
				class="search-box d-flex align-items-center justify-content-center my-5"
				style="background-color: #F7F7F7;">
				<form action="/sports/search" class="w-100">
					<div class="row gx-3 align-items-center justify-content-between"
						style="max-width: 1000px; margin: 0 auto">
						<div class="col-md-3">
							<select class="form-select select-group" name="sports"
								id="select-group1" required>
								<option disabled selected value="">시설 분류 선택 *</option>
								<option value="soccer">축구장</option>
								<option value="futsal">풋살장</option>
								<option value="tennis">테니스장</option>
								<option value="badminton">배드민턴장</option>
							</select>
						</div>
						<div class="col-md-3">
							<select class="form-select select-group" name="free"
								id="select-group2">
								<option value="A">요금 구분</option>
								<option value="Y">무료</option>
								<option value="N">유료</option>
							</select>
						</div>
						<div class="col-md-3">
							<select class="form-select select-group" name="sido"
								id="select-group3">
								<option disabled selected value="">시 · 도 선택 *</option>
								<option value="11">서울특별시</option>
								<option value="28">인천광역시</option>
								<option value="41">경기도</option>
							</select>
						</div>
						<div class="col-md-3">
							<select class="form-select select-group" id="select-group4">
								<option disabled selected value="">시 · 군 · 구 선택</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
					</div>
					<div class="row d-flex justify-content-center mt-3"
						style="max-width: 500px; margin: 0 auto;">
						<div class="col">
							<input id="search-input" type="text"
								class="form-control main-search-input" name="search"
								placeholder="검색어를 입력해주세요" aria-label="First name">
						</div>
						<div class="col-4">
							<button id="search-btn" type="submit"
								class="form-control btn btn-outline-secondary"
								style="display: inline-block; border-radius: 30px; position: relative; height: 100%; border: 0;">
								<span id="main-search"
									style="position: absolute; top: 6px; left: 25px;">검색하기</span>
							</button>
						</div>
					</div>
				</form>
			</div>

			<div
				class="row row-cols-sm-1 row-cols-xl-4 g-4 row-cols-lg-3 row-cols-md-2 spaceList">
				<div th:each="da:${data}">
					<div class="col">
						<div class="card" style="width: 283px; height: 319px">
							<a th:if="${da.imgFileUrlAddr}"
								th:href="@{/sports/{rsrcNo}(rsrcNo=${da.rsrcNo})}"
								class="card-link"> <img
								th:src="${#strings.isEmpty(da.imgFileUrlAddr) ? '/img/no-image.png' : da.imgFileUrlAddr}"
								class="card-img-top" th:alt="${da.rsrcNm}">
							</a>

							<div class="card-body" style="text-align: left;">
								<h5 style="color: #212519;" class="spaceContent">
									<a th:href="@{/sports/{rsrcNo}(rsrcNo=${da.rsrcNo})}"
										class="card-link">[[${da.rsrcNm}]]</a>
								</h5>
								<div class="row">
									<div class="col-1">
										<img src="/img/map-icon.png" alt="icon" style="width: 15px;">
									</div>
									<div class="col spaceContent"
										style="font-size: 15px; line-height: 35px">
										[[${da.addr}]]</div>
								</div>
								<div class="row">
									<div class="col"
										style="color: #37745B; max-width: 110px; text-align: center;">
										[[${da.rsrcNo}]]</div>
									<div class="col" style="font-size: 15px; line-height: 30px">
										/ 60분</div>
									<div class="col"
										style="font-size: 15px; line-height: 30px; text-align: right;">
										<img class="col" src="/img/vector.png" alt="vector"
											style="width: 15px;"> 2
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div style="text-align: center; display: inline-block;">
				<div th:if="${totalPages >= 1}" class="my-5">
					<ul class="pagination pagination-lg">
						<li th:if="${currentPage > 10}" class="page-item"><a
							class="page-link" th:href="@{'?page=' + ${currentPage - 10}}"
							aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
						</a></li>
						<li th:if="${currentPage > 1}" class="page-item"><a
							class="page-link" th:href="@{'?page=' + ${currentPage - 1}}"
							aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
						</a></li>
						<li th:if="${currentPage == 1}" class="page-item"
							th:attr="disabled='disabled'"><span class="page-link"
							aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
						</span></li>
						<th:block th:with="pageSize=10">
							<th:block
								th:with="groupNum=${((currentPage - 1) / pageSize) + 1}">
								<th:block th:with="startPage=${(groupNum - 1) * pageSize + 1}">
									<th:block th:with="endPage=${startPage + pageSize - 1}">
										<th:block th:if="${endPage > totalPages}">
											<th:block th:with="endPage=${totalPages}"></th:block>
										</th:block>

										<th:block
											th:each="pageNum: ${#numbers.sequence(startPage, endPage)}">
											<li
												th:class="${pageNum} == ${currentPage} ? 'page-item active' : 'page-item'">
												<a class="page-link" th:href="@{/sports(page=${pageNum})}">[[${pageNum}]]</a>
											</li>
										</th:block>
									</th:block>
								</th:block>
							</th:block>
						</th:block>
						<li th:if="${currentPage < totalPages}" class="page-item"><a
							class="page-link" th:href="@{'?page=' + ${currentPage + 1}}"
							aria-label="Next"> <span aria-hidden="true">&raquo;</span>
						</a></li>
						<li th:if="${currentPage == totalPages}" class="page-item"
							th:attr="disabled='disabled'"><span class="page-link"
							aria-label="Next"> <span aria-hidden="true">&raquo;</span>
						</span></li>
						<li th:if="${currentPage + 10 <= totalPages}" class="page-item">
							<a class="page-link" th:href="@{'?page=' + ${currentPage + 10}}"
							aria-label="Next"> <span aria-hidden="true">&raquo;</span>
						</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>


	<!-- Footer -->
	<div th:replace="~{component/user/userFooter}"></div>
</body>

</html>