<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/reset.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/layout.css" rel="stylesheet">
<link href="/css/layout-sub.css" rel="stylesheet">
<link rel="icon" href="/img/favicon.png">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="/js/gnb.js"></script>
<title>뛰다</title>
<style type="text/css">
.spaceList a:link {
	color: black;
}

.spaceList a:visited {
	color: black;
}

.spaceList a:hover {
	color: black;
}

.spaceList a:active {
	color: black;
}

.card {
	border-radius: 15px
}

.spaceList .card-img-top {
	border-radius: 16px 16px 0 0
}

.card-img-top {
	width: 281px;
	height: 201.75px;
}

.spaceContent {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
</style>
</head>

<body>
	<!-- Header -->
	<div th:replace="~{component/user/userHeader}"></div>

	<!-- Content -->
	<div class="wrap-content">
		<div class="container">
			<div
				class="search-box d-flex align-items-center justify-content-center mt-4 mb-4"
				style="background-color: #F7F7F7;">
				<form th:action="@{/sports/search}" class="w-100" method="get">
					<div class="row gx-3 align-items-center justify-content-center"
						style="max-width: 1000px; margin: 0 auto">
						<div class="col-md-3">
							<select id="type" name="type"
								class="form-select select-group focus-ring"
								aria-label="Default select example">
								<option value="" th:selected="${type == null or type == ''}"
									th:text="'시설 구분 *'"></option>
								<option th:value="축구" th:selected="${type == '축구'}">축구장</option>
								<option th:value="테니스" th:selected="${type == '테니스'}">테니스장</option>
								<option th:value="풋살" th:selected="${type == '풋살'}">풋살장</option>
								<option th:value="배드민턴" th:selected="${type == '배드민턴'}">배드민턴장</option>
							</select>
						</div>
						<div class="col-md-3">
							<select class="form-select select-group focus-ring" name="pay"
								id="pay" aria-label="Default select example">
								<option value="" th:selected="${pay == null or type == ''}"
									th:text="'요금 구분 *'"></option>
								<option th:value="N" th:selected="${pay == 'N'}">무료</option>
								<option th:value="Y" th:selected="${pay == 'Y'}">유료</option>
							</select>
						</div>
						<div class="col-md-3">
							<select id="region" name="region"
								class="form-select select-group focus-ring"
								aria-label="Default select example"
								style="--bs-focus-ring-color: rgba(var(--bs-success-rgb), .25)">
								<option value="" th:selected="${param.region == null or param.region == ''}"
									th:text="'수도권 전체'"></option>
								<option th:value="서울" th:selected="${param.region == '서울'}">서울</option>
								<option th:value="인천" th:selected="${param.region == '인천'}">인천</option>
								<option th:value="경기" th:selected="${param.region == '경기'}">경기</option>
							</select>
						</div>
					</div>
					<div class="row d-flex justify-content-center mt-3"
						style="max-width: 500px; margin: 0 auto;">
						<div class="col">
							<input id="search-input" type="text"
								class="form-control main-search-input focus-ring" name="spaceNm"
								placeholder="검색어를 입력해주세요" aria-label="First name"
								th:value="${param.spaceNm}">
						</div>
						<div class="col-4">
							<button id="search-btn" type="submit"
								class="form-control btn focus-ring"
								style="display: inline-block; margin: 0 auto; border-radius: 30px; position: relative; height: 37.6px; border: 0;">
								<span id="main-search" style="text-align: center;">검색하기</span>
							</button>
						</div>
					</div>
				</form>
			</div>

			<div
				class="row row-cols-sm-1 row-cols-xl-4 g-4 row-cols-lg-3 row-cols-md-2 spaceList">
				<div th:each="da:${data}">
					<div class="col">
						<div class="card" style="width: 283px; height: 319px">
							<a th:if="${da.imgFileUrlAddr}"
								th:href="@{/sports/search/{rsrcNo}(rsrcNo=${da.rsrcNo})}"
								class="card-link"> <img
								th:src="${#strings.isEmpty(da.imgFileUrlAddr) ? '/img/no-image.png' : da.imgFileUrlAddr}"
								class="card-img-top" th:alt="${da.rsrcNm}">
							</a>

							<div class="card-body" style="text-align: left;">
								<h5 style="color: #212519;" class="spaceContent">
									<a th:href="@{/sports/search/{rsrcNo}(rsrcNo=${da.rsrcNo})}"
										class="card-link">[[${da.rsrcNm}]]</a>
								</h5>
								<div class="row">
									<div class="col-1">
										<img src="/img/map-icon.png" alt="icon" style="width: 15px;">
									</div>
									<div class="col spaceContent"
										style="font-size: 15px; line-height: 35px">
										[[${da.addr}]]</div>
								</div>

								<div class="row">
									<div class="col"
										style="color: #37745B; max-width: 110px; text-align: center;"
										th:text="${free['da'].rsrcNo}">
										</div>
									<div class="col" style="font-size: 15px; line-height: 30px">
										/ 60분</div>
									<div class="col"
										style="font-size: 15px; line-height: 30px; text-align: right;">
										<img class="col" src="/img/vector.png" alt="vector"
											style="width: 15px;">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div>
				<nav aria-label="pagination" class="mb-5 mt-5">
					<ul class="pagination justify-content-center">
						<li class="page-item"><a id="pagination" class="page-link"
							th:href="@{/sports/search(page = ${nowPage - 1} - 1, type = ${param.type}, pay = ${param.pay}, region= ${param.region}, spaceNm=${param.spaceNm})}"
							aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
						</a></li>
						<th:block
							th:each="page : ${#numbers.sequence(startPage, endPage)}">


							<li class="page-item"><a th:if="${page != nowPage}"
								th:href="@{/sports/search(page = ${page - 1}, type = ${param.type}, pay = ${param.pay}, region= ${param.region}, spaceNm=${param.spaceNm})}"
								th:text="${page}" id="pagination" class="page-link">1</a></li>
							<li class="page-item"><a th:if="${page == nowPage}"
								th:text="${page}" id="pagination" class="page-link"
								style="background-color: #37745B; color: #ffffff;">1</a></li>
						</th:block>
						<li class="page-item"><a id="pagination" class="page-link"
							th:href="@{/sports/search(page = ${nowPage - 1} + 1, type = ${param.type}, pay = ${param.pay}, region= ${param.region}, spaceNm=${param.spaceNm})}"
							aria-label="Next"> <span aria-hidden="true">&raquo;</span>
						</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>


	<!-- Footer -->
	<div th:replace="~{component/user/userFooter}"></div>

	<script type="text/javascript" src="/js/essential.js"></script>
</body>

</html>