<header class="user-Header">
	<div class="top-area">
		<div class="header-center">
			<h1 class="logo-box">
				<a href="/"><img src="/img/user-logo.svg" alt="뛰다 로고"></a>
			</h1>
		</div>
		<div class="header-right">
			<!-- 비로그인 -->
			<a href="/join" class="join"><span>회원가입</span></a> 
			<a href="/login" class="login"><span>로그인</span></a>
			<!-- 로그인 -->
			<a href="" class="user"><span> ㅇㅇㅇ 님</span></a>
		</div>
	</div>
	<nav class="user-nav">
		<ul class="menu-box">
			<li><a href=""><span class="menu1">시설 검색 · 예약</span></a>
				<ul>
					<li><a href="#" class="menu2">통합 검색</a></li>
				</ul>
			</li>
			<li><a href="/ddimap"><span class="menu1">뛰맵</span></a>
				<ul>
					<li><a href="#"> </a></li>
				</ul>
			</li>
			<li><a href=""><span class="menu1">Q&amp;A</span></a>
				<ul>
					<li><a href="#" class="menu2">문의게시판</a></li>
				</ul>
			</li>
			<li><a href=""><span class="menu1">마이페이지</span></a>
				<ul>
					<li><a href="#" class="menu2">예약 내역 조회</a></li>
					<li><a href="#" class="menu2">내 정보 수정</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<div class="sub-back"></div>
</header>