<header class="user-Header" >
	<div class="top-area">
		<div class="header-center">
			<h1 class="logo-box">
				<a href=""><img src="/img/user-logo.svg" alt="뛰다 로고"></a>
			</h1>
		</div>
		<div class="header-right">
			<!-- 비로그인 -->
			<a href="" class="join"><span>회원가입</span></a> <a href=""
				class="login"><span>로그인</span></a>
			<!-- 로그인 -->
			<a href="" class="user"><span> ㅇㅇㅇ 님</span></a>
		</div>
	</div>
	<nav class="user-nav">
		<ul class="menu-box">
			<li><a href="">시설 검색 · 예약</a></li>
			<li><span> </span></li>
			<li><a href="">뛰맵</a></li>
			<li><span> </span></li>
			<li><a href="">Q&amp;A</a></li>
			<li><span> </span></li>
			<li><a href="">마이페이지</a></li>
		</ul>
	</nav>
</header>