<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/reset.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/layout.css" rel="stylesheet">
<link href="/css/layout-sub.css" rel="stylesheet">
<link rel="icon" href="/img/favicon.png">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<title>뛰다</title>
</head>

<body>

	<!-- Content -->
	<div class="center-area"
		style="margin: 0 auto; vertical-align: middle; margin-top: 200px;">
		<a href="/"
			style="display: block; width: 200px; height: 100%; margin: 40px auto; position: relative; right: 5px;"><img
			src="/img/footer-logo.svg"></a>
		<div class="container"
			style="width: 500px; border: 2px solid #37745b; border-radius: 15px;">

			<div id="login-box" style="width: 400px; margin: 0 auto;">
				<form th:action="@{/login/manage}" method="post"
					id="admin-login-form">
					<h6 class="form-control mt-4" style="text-align: left; border: 0;">
						관리자 모드 정보 입력</h6>
					<div class="">
						<input type="text" class="form-control search-input mb-3 mt-2" required
							style="border-color: #aaa;" id="username"
							placeholder="관리섹터 입력" name="username">
					</div>
					<div class="">
						<input type="password" class="form-control search-input" required
							style="border-color: #aaa;" id="password" name="password"
							placeholder="관리코드 입력">
					</div>
					<hr style="margin: 10px auto;">
					<button type="submit" id="login-btn"
						class="btn btn-primary form-control">관리자 인증</button>
					<a th:href="@{/login}" class="form-control mt-2 mb-5" style="display: block; background-color: #fff; border-color: #37745b; color: #37745b; font-weight: 300; border:0;">
						<span class="pb-1" style="border-bottom:1px solid #37745b;">이용자 모드로</span>
					</a>
				</form>
			</div>
		</div>

		<div class="copyright mt-3" style="border: 0;">
			<span>Copyright &copy; 2024 CodeRunner. All rights reserved.</span>
		</div>
	</div>

</body>
</html>