<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link href="/css/reset.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/layout.css" rel="stylesheet">
<link href="/css/layout-sub.css" rel="stylesheet">
<link rel="icon" href="/img/favicon.png">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="/js/gnb.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
<title>뛰맵</title>
</head>

<body>
	<!-- Header -->
	<div th:replace="~{component/user/userHeader}"></div>
	<div class="wrap-content">
		<div class="container p-0" style="margin-bottom: 36px;">
			<div class="row g-0" style="height: 800px;">
				<div class="col-4">

					<div class="accordion" id="accordionPanelsStayOpenExample">
						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button focus-ring" type="button"
									data-bs-toggle="collapse"
									data-bs-target="#panelsStayOpen-collapseOne"
									aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
									시설 검색</button>
							</h2>
							<div id="panelsStayOpen-collapseOne"
								class="accordion-collapse collapse show">
								<form th:action="@{/ddimap/search}" method="get">
									<div class="accordion-body">

										<div
											class="row d-flex justify-content-between align-items-center g-2 focus-ring">
											<div class="col-3" style="font-size: 16px;">
												<span class="float-left text-align-left">시설 분류</span>
											</div>
											<div class="col">
												<select id="type" name="type"
													class="form-select search-input focus-ring"
													aria-label="Default select example">
													<option value="" th:selected="${type == null or type == ''}" th:text="'시설 구분'"></option>
													<option th:value="축구" th:selected="${type == '축구'}">축구장</option>
													<option th:value="테니스" th:selected="${type == '테니스'}">테니스장</option>
													<option th:value="풋살" th:selected="${type == '풋살'}">풋살장</option>
													<option th:value="배드민턴" th:selected="${type == '배드민턴'}">배드민턴장</option>
												</select>
											</div>
											<div class="col">
												<select class="form-select search-input focus-ring"
													name="pay" id="pay" aria-label="Default select example">
													<option value="" th:selected="${pay == null or type == ''}" th:text="'요금 구분'"></option>
													<option th:value="Y" th:selected="${pay == 'Y'}">무료</option>
													<option th:value="N" th:selected="${pay == 'N'}">유료</option>
												</select>
											</div>
										</div>

										<div
											class="row mt-2 d-flex justify-content-between align-items-center g-2 focus-ring">
											<div class="col-3" style="font-size: 16px;">
												<span class="float-left text-align-left">지역 분류</span>
											</div>
											<div class="col">
												<select id="region" name="region"
													class="form-select search-input focus-ring"
													aria-label="Default select example"
													style="--bs-focus-ring-color: rgba(var(--bs-success-rgb), .25)">
													<option value="" th:selected="${region == null or region == ''}" th:text="'수도권 전체'"></option>
													<option th:value="서울" th:selected="${region == '서울'}">서울</option>
													<option th:value="인천" th:selected="${region == '인천'}">인천</option>
													<option th:value="경기" th:selected="${region == '경기'}">경기</option>
												</select>
											</div>
										</div>

										<div
											class="row mt-2 d-flex justify-content-between align-items-center g-2 focus-ring">

											<div class="col-3" style="font-size: 16px;">
												<span class="float-left text-align-left">시설명</span>
											</div>
											<div class="col">
												<input class="form-control search-input focus-ring"
													name="spaceNm" id="spaceNm"
													aria-label="Defaul select example"
													th:value="${param.spaceNm}">
											</div>
										</div>

										<div class="row mt-3"
											style="margin: 0 auto; width: 150px; height: 37px;">
											<div class="col">
												<button id="search-btn" type="submit"
													class="form-control btn focus-ring"
													style="display: inline-block; margin: 0 auto; border-radius: 30px; position: relative; height: 37.6px; border: 0;">
													<span id="main-search" style="text-align: center;">검색하기</span>
												</button>
											</div>
										</div>

									</div>
								</form>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button focus-ring" type="button"
									data-bs-toggle="collapse"
									data-bs-target="#panelsStayOpen-collapseTwo"
									aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
									검색 결과</button>
							</h2>
							<div id="panelsStayOpen-collapseTwo"
								class="accordion-collapse collapse show">
								<div class="accordion-body"
									style="max-height: 466px; overflow: auto;">

									<div th:each="da:${data}">
										<div
											class="row d-flex justify-content-between align-items-center g-1 p-0 mb-3"
											style="height: 150px; max-height: 200px;">
											<div class="col-5">
												<a
													th:onclick="moveMarker([[${da.lat}]], [[${da.lot}]]); return false;"
													id="moveMarker"
													style="cursor: pointer; display: block; height: 124px; width: 144px; border: 2px dotted #37745b; border-radius: 8px; overflow: hidden; position: relative;">
													<img alt="시설 이미지" th:src="${da.imgFileUrlAddr}"
													style="width: 100%; height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
												</a>
											</div>
											<div class="col-7 ps-2 fac-info"
												style="text-align: left; font-size: 14px;">
												<p th:onclick="moveMarker([[${da.lat}]], [[${da.lot}]]);"
													style="cursor: pointer;" class="ellipsis">[[${da.rsrcNm}]]</p>
												<p th:onclick="moveMarker([[${da.lat}]], [[${da.lot}]]);"
													style="cursor: pointer;">[[${da.zip}]]</p>
												<p th:onclick="moveMarker([[${da.lat}]], [[${da.lot}]]);"
													style="cursor: pointer;">[[${da.addr}]]</p>
												<a th:href="@{/sports/{rsrcNo}(rsrcNo=${da.rsrcNo})}"><span>예약
														하기</span></a>
											</div>
										</div>
										<hr>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>


				<div class="col-8">
					<div id="map" style="width: 800px; height: 800px;"></div>
				</div>

			</div>
		</div>
	</div>

	<!-- Footer -->
	<div th:replace="~{component/user/userFooter}"></div>

	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1a902b3fed24bfa2072453467bfcdb25&libraries=services"></script>
	<script type="text/javascript" src="/js/essential.js"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var data = /*[[${data}]]*/[];

		var container = document.getElementById('map');
		var options = {
			center : new kakao.maps.LatLng(37.566295, 126.977945),
			level : 5
		};
		var map = new kakao.maps.Map(container, options);

		//========================================================================
		// 주소-좌표 변환 객체를 생성
	// 주소-좌표 변환 객체를 생성
var geocoder = new kakao.maps.services.Geocoder();

data.forEach(function(item) {
    var addr = item.addr;

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(addr, function(result, status) {
        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {
            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            // 마커 클릭 이벤트 처리
            kakao.maps.event.addListener(marker, 'click', function() {
                // 각 마커에 대한 인포윈도우 내용 설정
                var infowindowContent = `<div style="text-align:center; padding:5px; font-size:12px;">${item.rsrcNm}</div>`;
                var infowindow = new kakao.maps.InfoWindow({
                    content: infowindowContent,
                    removable: true
                });

                // 인포윈도우 열기
                infowindow.open(map, marker);
            });
        }
    });
});


		// 클릭 마커이동
		function moveMarker(lat, lot) {
			var selectCoords = new kakao.maps.LatLng(lat, lot);
			map.setCenter(selectCoords);
		}

		data.forEach(function(item, index) {
			var lat = item.lat;
			var lot = item.lot;
			var rsrcNm = item.rsrcNm;

			var moveMarkerButton = document.createElement('button');
			moveMarkerButton.textContent = 'Move Marker ' + (index + 1);

			moveMarkerButton.addEventListener('click', function() {
				event.preventDefault();
				moveMarker(lat, lot);
			});

		});
		/*]]>*/
	</script>
	

</body>

</html>