<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/reset.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/layout.css" rel="stylesheet">
<link rel="icon" href="/img/favicon.png">
<link rel="stylesheet" href="/static/css/main.961df7db.css">
<title>뛰맵</title>
</head>

<body>
	<!-- Header -->
	<div th:replace="~{component/user/userHeader}"></div>

	<!-- Content -->
	<div class="wrap-content">
		<div class="container">
			<h2>Main Content Area</h2>
		</div>
		<div id="root"></div>
	    <script th:src="@{/static/js/main.9755e243.js}"></script>
	</div>

	<!-- Footer -->
	<div th:replace="~{component/user/userFooter}"></div>
</body>
</html>

