.main-search-area {
	background: url("/img/main-cover.png") no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 520px;
	display: flex;
	align-items: center;
}

.search-box {
	margin: 0 auto;
	background-color: rgba(255, 255, 255, .4);
	position: relative;
	width: 1200px;
	height: 200px;
	border-radius: 30px 30px 30px 30px;
}

#search-group {
	position: absolute;
	right: 12px;
}

#category-btn {
	width: 400px;
	border-color: #37745B;
}

#search-input {
	color: #37745B;
	border-color: #37745B;
}

#search-input::placeholder {
	color: #37745B;
	font-weight: 300;
}

#search-input::-webkit-input-placeholder {
	color: #37745B;
	font-weight: 300;
}

.search-input {
	color: #37745B;
	border-color: #37745B;
}

.search-input::placeholder {
	color: #37745B;
	font-weight: 300;
}

.search-input::-webkit-input-placeholder {
	color: #37745B;
	font-weight: 300;
}

#search-btn {
	color: #FFFFFF;
	font-weight: 300;
	background-color: #37745B;
	border-radius: 0.9rem;
}

.main-search-input {
	border-color: #37745B;
	border-radius: 12px;
}

.select-group {
	color: #37745B;
	border-color: #37745B;
	border-radius: 12px;
}

#main-search {
	padding-left: 6px;
}

#main-search:after {
	content: url("/img/search.svg");
	margin-left: 8px;
	vertical-align: middle;
}

/* card */
.main-h4 {
	position: relative;
}

.main-h4:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 50px;
	height: 5px;
	background-color: #37745b;
}

.mainPage {
	display: flex;
	justify-content: space-between;
}

.mainPage a:link {
	color: black;
}

.mainPage a:visited {
	color: black;
}

.mainPage a:hover {
	color: black;
}

.mainPage a:active {
	color: black;
}

.card {
	--bs-border-radius: 15px;
	--bs-card-border-radius: 15px;
}

.mainPage .card-img-top {
	border-radius: 15px 15px 0 0
}

ul.slick-dots {
	position: relative;
	top: 10px;
}

/* login join certificate ===================================*/
#login-btn {
	background-color: #37745b;
	border: 0;
	font-weight: 300;
	color: #fff;
}

.form-check-input:checked {
	background-color: #37745b;
	border-color: #aaa;
}

.card-img-top {
	width: 279px;
	height: 180px; /* 이미지 높이를 원하는 높이로 조절 */
	display: block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card-img-container {
	width: 280px;
	height: 300px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Map ===================================*/
.accordion-button:not(.collapsed) {
	background-color: #37745b; /* 예시로 배경 색상을 변경했습니다. */
	color: #fff;
}

.accordion-button:not(.collapsed)::after {
	content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

}