<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="/css/reset.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/layout.css" rel="stylesheet">
	<link href="/css/qna.css" rel="stylesheet">
	<link rel="icon" href="/img/favicon.png">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script type="text/javascript" src="/js/gnb.js"></script>
	<title>뛰다</title>
	<style>
		textarea {
			resize: none !important;
		}
	</style>
</head>

<body>
	<!-- Header -->
	<div th:replace="~{component/user/userHeader}"></div>

	<!-- Content -->
	<div class="wrap-content">
		<div class="container">
			<h4 style="width: fit-content">
				<a href="/qna" class="back-button"> </a> 문의 내역
			</h4>
			<hr class="titleUnder my-2">

			<th:block th:if="${qna.qnaSecret} == false">
				<div class="qnaDescription">
					<h3 style="text-align: center" th:text="${qna.title}">문의 제목</h3>
					<div class="d-flex mt-2">
						<div class="ms-2 me-3">작성일 : [[${qna.qnaDate}]]</div>
						<div class="ms-auto me-3">작성자 : [[${qna.username}]]</div>
						<div class="me-2">조회수 : [[${qna.qnaView}]]</div>
					</div>
					<hr>
					<div style="max-width: 80%; margin: 0 auto;">
						<div th:text="${qna.description}" style="overflow-wrap: break-word;">문의 내용</div>
					</div>
					<hr>
					<div class="d-flex justify-content-end mt-1">
						<button th:if="${user.username == qna.username}" id="edit-btn" type="button"
							class="btn btn-outline-secondary"
							th:onclick="|location.href='@{/qna/editForm/{qnaNo}(qnaNo=${qna.qnaNo})}'|" style="border-radius: 6px;">수정</button>
						<form id="delete-form" th:action="@{/qna/{qnaNo}(qnaNo=${qna.qnaNo})}" method="post">
							<input type="hidden" name="_method" value="delete" />
							<button th:if="${user.username == qna.username}" id="delete-btn" type="submit"
								class="btn btn-outline-secondary ms-1">삭제</button>
						</form>
					</div>
					<h4 style="width: fit-content">답변</h4>
					<hr class="titleUnder my-2" style="width: 45px;">
					<th:block th:if="${qna.answer} == null">
						<textarea id="description" name="description" style="margin-bottom: 10px; margin-top: 10px;"
							class="description form-control" rows="10" disabled="disabled">등록된 답변이 없습니다.</textarea>
					</th:block>
					<th:block th:if="${qna.answer} != null">
						<textarea id="description" name="description" style="margin-bottom: 10px; margin-top: 10px;"
							class="description form-control" rows="10" disabled="disabled">[[${qna.answer}]]</textarea>
					</th:block>
				</div>
			</th:block>

			<th:block th:if="${qna.qnaSecret == true} and ${user.username != qna.username}">
				<hr>
				<div> <img src="/img/secret.png" class="img" style="width: 20px; height: 20px;">비밀글 입니다.</div>
				<hr>
			</th:block>

			<th:block th:if="${qna.qnaSecret == true} and ${user.username == qna.username}">
				<div class="qnaDescription">
					<div style="font-size: xx-large;">
						<img src="/img/secret.png" class="img" style="width: 25px; height: 25px;">
						[[${qna.title}]]
					</div>
					<div class="d-flex mt-2">
						<div class="ms-2 me-3">작성일 : [[${qna.qnaDate}]]</div>
						<div class="ms-auto me-3">작성자 : [[${qna.username}]]</div>
						<div class="me-2">조회수 : [[${qna.qnaView}]]</div>
					</div>
					<hr>
					<div>
						<div th:text="${qna.description}">문의 내용</div>
					</div>
					<hr>
					<div class="d-flex justify-content-end mt-1">
						<button id="edit-btn" type="button" class="btn btn-outline-secondary"
							th:onclick="|location.href='@{/qna/editForm/{qnaNo}(qnaNo=${qna.qnaNo})}'|">수정</button>
						<form id="delete-form" th:action="@{/qna/{qnaNo}(qnaNo=${qna.qnaNo})}" method="post">
							<input type="hidden" name="_method" value="delete" />
							<button id="delete-btn" type="submit" class="btn btn-outline-secondary ms-1">삭제</button>
						</form>
					</div>
					<h4 style="width: fit-content">답변</h4>
					<hr class="titleUnder my-2" style="width: 45px;">
					<th:block th:if="${qna.answer} == null">
						<textarea id="description" name="description" style="margin-bottom: 10px; margin-top: 10px;"
							class="description form-control" rows="10" disabled="disabled">등록된 답변이 없습니다.</textarea>
					</th:block>
					<th:block th:if="${qna.answer} != null">
						<textarea id="description" name="description" style="margin-bottom: 10px; margin-top: 10px;"
							class="description form-control" rows="10" disabled="disabled">[[${qna.answer}]]</textarea>
					</th:block>
				</div>
			</th:block>

			<div class="list-group mt-5">
				<a th:href="${next == null} ? @{/qna} : @{/qna/{qnaNo}(qnaNo=${next.qnaNo})}" class="list-group-item">
					<span id="prevNext">다음글 : </span>
					<span id="prevNextTitle" th:if="${next == null}"> 다음글이 없습니다.</span>
					<span id="prevNextTitle" th:if="${next != null}"
						th:text="${next.qnaSecret == true} and ${next.username != user.username} ? '비밀글입니다' : ${next.title}"> 다음글 제목</span>
				</a>
				<a th:href="${prev == null} ? @{/qna} : @{/qna/{qnaNo}(qnaNo=${prev.qnaNo})}"
					class="list-group-item mb-3">
					<span id="prevNext">이전글 : </span>
					<span id="prevNextTitle" th:if="${prev == null}">이전글이 없습니다.</span>
					<span id="prevNextTitle" th:unless="${prev == null}"
						th:text="${prev.qnaSecret == true } and ${prev.username != user.username}? '비밀글입니다' : ${prev.title}">이전글 제목</span>

				</a>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div th:replace="~{component/user/userFooter}"></div>
</body>

</html>