<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link href="/css/reset.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/layout.css" rel="stylesheet">
	<link href="/css/qna.css" rel="stylesheet">
	<link rel="icon" href="/img/favicon.png">
	<title>뛰다</title>
</head>

<body>
	<!-- Header -->
	<div th:replace="~{component/user/userHeader}"></div>

	<!-- Content -->
	<div class="wrap-content">
		<div class="container">
			<h4 style="width: fit-content">
				<a href="/mypage/userInfo" class="back-button"> </a> 내 정보 관리
			</h4>
			<hr class="titleUnder my-2" style="width: 120px;">

			<h4 class="review mt-5" style="width: fit-content">비밀번호 변경</h4>
			<div id="pw-edit-group" class="form-group mt-2" style="width: 60%;">
				<label id="pw-label" class="">현재 비밀번호</label>
				<input class="form-control" id="current-pw" ref="" type="password" placeholder="Current password"
					style="" tabindex="2">
				<label id="pw-label" class="mt-2">새 비밀번호</label>
				<input class="js-mytooltip-pw form-control" id="new-pw" type="password" placeholder="New password"
					style="" tabindex="3" data-mytooltip-direction="right" data-mytooltip-dinamic-content="true"
					data-mytooltip-action="focus" data-mytooltip-animate-duration="0">
				<label id="pw-label" class="mt-2">비밀번호 확인</label>
				<input id="re-pw" class="form-control" placeholder="Confirm new password" type="password" tabindex="4">
				<div class="d-flex justify-content-start mt-3">
					<button id="edit-btn" type="button" class="btn btn-outline-secondary"
						onclick="location.href='/login'">비밀번호 변경</button>
				</div>
			</div>
		</div>


	</div>

	<!-- Footer -->
	<div th:replace="~{component/user/userFooter}"></div>
</body>

</html>