<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/reset.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/layout.css" rel="stylesheet">
<link href="/css/qna.css" rel="stylesheet">
<link rel="icon" href="/img/favicon.png">
<title>뛰다</title>
</head>

<body>
	<!-- Header -->
	<div th:replace="~{component/user/userHeader}"></div>

	<!-- Content -->
	<div class="wrap-content">
		<div class="container">
			<h4 style="width: fit-content">
				<a href="/mypage/userInfo" class="back-button"> </a> 내 정보 관리
			</h4>
			<hr class="titleUnder my-2" style="width: 120px;">

			<div class="container" style="width: 90%">
				<h4 class="review mt-5" style="width: fit-content">비밀번호 변경</h4>
			</div>
		</div>

	</div>

	<!-- Footer -->
	<div th:replace="~{component/user/userFooter}"></div>
</body>
</html>